<div class='flex pa1 justify-between nowrap orange'>
  <div class='flex flex-fixed black'>
    <div class='fw7 mr1'>Hacker News</div>
    <LinkTo @route='links' class='ml1 no-underline black'>new</LinkTo>
    <div class='ml1'>|</div>
    <LinkTo @route='create' class='ml1 no-underline black'>submit</LinkTo>
  </div>
</div>